# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
yarn.lock
*.log
*.gz
./public/bundle/.*
./public/patch/.*


# Coveralls
coverage

# Benchmarking
benchmarks/graphs